$black: #1d2123;
$green: #99cd4e;
$grey:  #e1e1e1;
$white: #ffffff;

$bk-dark: $black;
$bk-light: $grey;

//function to DRY up elements with transitions
@mixin transitions($speed, $timing: ease-in-out) {
	-webkit-transition: all $speed $timing;
	-moz-transition: all $speed $timing;
	-ms-transition: all $speed $timing;
	-o-transition: all $speed $timing;
	transition: all $speed $timing;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	color: $white;
	background-color: $bk-dark;
}

a {
	@include transitions(.30s);
	color: $black;
	&:active,
	&:focus,
	&:hover {
		color: $green;
		text-decoration: none;
	}
}

footer {
	background-color: $grey;
	color: $black;
	padding: 50px 0 0;

	a {
		color: $black;
		&:active,
		&:focus,
		&:hover {
			color: $green;
			text-decoration: none;
		}
	}

	label {
		font-size: 1.5em;
	}

	.footer-copyright {
		padding: 0 0 1em;
	}

	.form-control {
		color: black;
		border: 1px solid #111;
		font-size: 1.5em;
	}

	.text-contact {
		padding: 2em 0 0;
	}

	#reason-textarea,
	input[type=email],
	input[type=text] {
		border: 2px solid transparent;
		margin: 5px 1px 3px 0;
		outline: none !important;
		padding: 3px 0 3px 3px;
		resize: vertical;
		transition: border-color 0.30s ease-in-out;
		&:hover {
			border: 2px solid $green;
		}
		&:focus {
			border: 2px solid $green;
			box-shadw: 0 0 5px $green;
		}
	}
}

hr {
	border-top: 1px solid $green;
	&.light {
		border-top: 1px solid $white;
	}
	&.small {
		width: 250px;
	}
}

h2 {
	font-family: "Roboto", sans-serif;
	text-align: center;
}

p {
	text-align: center;
}

section {
	padding: 50px 0;
	&:nth-child(odd) {
		background-color: $bk-light;
		color: $black;
	}
}

.about-me {
	font-size: 22px;
	margin: 0.25em auto;
	max-width: 950px;
}

.bold {
	font-weight: 600;
}

.btn{
	@include transitions(.30s);
}

.btn-dark {
	background-color: rgba(0, 0, 0, .4);
	border: 1px solid $black;
	border-radius: 0;
	color: $white;
	&:active,
	&:focus,
	&:hover {
		background-color: rgba(0, 0, 0, .7);
		border-color: $grey;
		color: $white;
	}
}

.container.nav-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
	background: url("../imgs/space-jupiter.jpg");
	background-attachment: scroll;
	background-color: $bk-dark;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	display: table;
	height: 100%;
	position: relative;
	text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
	width: 100%;

	a {
		text-shadow: none;
	}
}

.navbar-default {
  background-color: $bk-dark;
  border-color: black;
	font-size: 18px;
}

.navbar-brand {
	font-size: 22px;
	padding: 20px 15px 0 15px;
}

.navbar-default .navbar-nav>.active>a {
  background-color: $black !important;
  border-bottom: 2px solid $green;
}

.navbar-default,
.navbar-brand,
.navbar-nav>li>a {
  color: $white !important;
}

.navbar-nav>li>a {
  @include transitions(0.3s);
	border-bottom: 2px solid transparent;
  margin: 16px 6px 15px 6px;
	outline: 0 !important;
	padding: 5px;
	&:hover {
		border-color: $green;
	}
}

.profile-pic {
	border: 0.5em solid $green;
	border-radius: 50%;
}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;

	h1 {
		font-size: 4.5em;
		font-weight: 700;
		margin: 0;
		padding: 0;
	}

	h3 {
		font-size: 2em;
		font-weight: 700;
	}
}

.toggle {
	margin: 5px 5px 0 0;
}

.work {
	a {
		color: $grey;
		&:hover {
			color: $green;
		}
	}

	p {
		font-size: 18px;
	}

	.work-item {
		margin-bottom: 30px;
	}

	.img-work {
		@include transitions(.4s, ease);
		border: 4px solid transparent;
		border-radius: 0.1em;
		margin: 0 auto;
		padding: 1px;
		&:hover {
			border-color: $green;
		}
	}
}

::selection {
	background-color: $green;
}
